<html>
    <head>
        <!-- placeholder -->
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <a href="/">Return to homepage</a><br /><br />
        <%- include("partials/errors.ejs") %>
        <form method="POST" action="/createType">
            <label for="name">Name:</label><br />
            <input type="text" id="name" name="name" /><br /><br />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
